body {
	margin:           0;
	padding:          0;

	font-family:      sans-serif;
	color:            #333333;
	background-color: #f0f0f0;
}

p {
	margin-top: 0;
}

.block {
	margin:           1rem;
	padding:          1rem;
	background-color: white;
	box-shadow:       0 0 1rem rgba(0, 0, 0, .5);
}

.smiley {
	display:             block;
	width:               100px;
	height:              100px;

	background-repeat:   no-repeat;
	background-position: 0 0;

	cursor:              pointer;

	&:hover {
		background-position: 0 -100px;
	}

	&:active {
		background-position: 0 -200px;
	}
}

@import "components/test-function";
@import "components/test-import";
