$red: #ff6666;
$green: #66ff66;
$blue: #6666ff;

.smileysheet {
	display:             block;
	width:               100px;
	height:              100px;

	@import 'picto-smileysheet.svg';
	background-repeat:   no-repeat;
	background-position: 0 0;

	cursor:              pointer;

	&:hover {
		background-position: 0 -100px;
	}

	&:active {
		background-position: 0 -200px;
	}
}
